// override BS5 variables and add custom variables

// change the 'primary' and 'danger' color and add 'purple'
$primary-color: #F9F5ED;
$secondary-color: #e0e0c3;
$tertiary-color: #BB9557;
$dark: #333;
$light: #fff;
$font-primary: 'Playfair Display', serif;
$font-secondary: 'Montserrat', sans-serif;
